[Desktop Entry]
Name=Move from Windows
Comment=Copy personal files and supported settings from Windows
Exec=consumeros-migrate
Icon=org.consumeros.Migration
Terminal=false
Type=Application
Categories=Utility;
Keywords=Windows;Migration;Import;Files;Bookmarks;Steam;
StartupNotify=true
