[Desktop Entry]
Name=Welcome to ConsumerOS
Comment=Get started with ConsumerOS
Exec=consumeros-welcome --force
Icon=org.consumeros.Welcome
Terminal=false
Type=Application
Categories=System;
Keywords=Welcome;Setup;Start;
StartupNotify=true

