<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>MythOS</vendor>
  <vendor_url>https://mythos.invalid</vendor_url>
  <action id="org.mythos.control.update-check">
    <description>Check MythOS updates</description>
    <message>Authentication is required to check MythOS updates</message>
    <defaults><allow_any>no</allow_any><allow_inactive>auth_admin</allow_inactive><allow_active>auth_admin_keep</allow_active></defaults>
  </action>
  <action id="org.mythos.control.update-stage">
    <description>Stage MythOS updates</description>
    <message>Authentication is required to stage MythOS updates</message>
    <defaults><allow_any>no</allow_any><allow_inactive>auth_admin</allow_inactive><allow_active>auth_admin_keep</allow_active></defaults>
  </action>
  <action id="org.mythos.control.update-channel">
    <description>Change MythOS update channel</description>
    <message>Authentication is required to change the MythOS update channel</message>
    <defaults><allow_any>no</allow_any><allow_inactive>auth_admin</allow_inactive><allow_active>auth_admin_keep</allow_active></defaults>
  </action>
  <action id="org.mythos.control.drivers-install">
    <description>Install MythOS driver packages</description>
    <message>Authentication is required to install driver packages</message>
    <defaults><allow_any>no</allow_any><allow_inactive>auth_admin</allow_inactive><allow_active>auth_admin_keep</allow_active></defaults>
  </action>
  <action id="org.mythos.control.firmware-update">
    <description>Install device firmware updates</description>
    <message>Authentication is required to install firmware updates</message>
    <defaults><allow_any>no</allow_any><allow_inactive>auth_admin</allow_inactive><allow_active>auth_admin_keep</allow_active></defaults>
  </action>
  <action id="org.mythos.control.snapshot-create">
    <description>Create a MythOS restore point</description>
    <message>Authentication is required to create a restore point</message>
    <defaults><allow_any>no</allow_any><allow_inactive>auth_admin</allow_inactive><allow_active>auth_admin_keep</allow_active></defaults>
  </action>
  <action id="org.mythos.control.snapshot-rollback">
    <description>Restore a MythOS snapshot</description>
    <message>Authentication is required to restore a system snapshot</message>
    <defaults><allow_any>no</allow_any><allow_inactive>auth_admin</allow_inactive><allow_active>auth_admin</allow_active></defaults>
  </action>
  <action id="org.mythos.control.network-repair">
    <description>Repair MythOS networking</description>
    <message>Authentication is required to repair networking</message>
    <defaults><allow_any>no</allow_any><allow_inactive>auth_admin</allow_inactive><allow_active>auth_admin_keep</allow_active></defaults>
  </action>
  <action id="org.mythos.control.desktop-reset">
    <description>Reset MythOS desktop settings</description>
    <message>Authentication is required to reset desktop settings</message>
    <defaults><allow_any>no</allow_any><allow_inactive>auth_admin</allow_inactive><allow_active>auth_admin</allow_active></defaults>
  </action>
  <action id="org.mythos.control.preference-set">
    <description>Change protected MythOS preferences</description>
    <message>Authentication is required to change protected preferences</message>
    <defaults><allow_any>no</allow_any><allow_inactive>auth_admin</allow_inactive><allow_active>auth_admin_keep</allow_active></defaults>
  </action>
  <action id="org.mythos.control.remote-login">
    <description>Change MythOS remote login</description>
    <message>Authentication is required to change remote login settings</message>
    <defaults><allow_any>no</allow_any><allow_inactive>auth_admin</allow_inactive><allow_active>auth_admin</allow_active></defaults>
  </action>
  <action id="org.mythos.control.release-stage">
    <description>Stage a signed MythOS release update</description>
    <message>Authentication is required to stage a MythOS release update</message>
    <defaults><allow_any>no</allow_any><allow_inactive>auth_admin</allow_inactive><allow_active>auth_admin</allow_active></defaults>
  </action>
  <action id="org.mythos.control.release-channel">
    <description>Change the MythOS release channel</description>
    <message>Authentication is required to change the MythOS release channel</message>
    <defaults><allow_any>no</allow_any><allow_inactive>auth_admin</allow_inactive><allow_active>auth_admin_keep</allow_active></defaults>
  </action>
  <action id="org.mythos.control.feature-windows-apps"><description>Install Windows Apps capability</description><message>Authentication is required to install this capability</message><defaults><allow_any>no</allow_any><allow_inactive>auth_admin</allow_inactive><allow_active>auth_admin_keep</allow_active></defaults></action>
  <action id="org.mythos.control.feature-gaming"><description>Install Gaming capability</description><message>Authentication is required to install this capability</message><defaults><allow_any>no</allow_any><allow_inactive>auth_admin</allow_inactive><allow_active>auth_admin_keep</allow_active></defaults></action>
  <action id="org.mythos.control.feature-appimages"><description>Install Portable Apps capability</description><message>Authentication is required to install this capability</message><defaults><allow_any>no</allow_any><allow_inactive>auth_admin</allow_inactive><allow_active>auth_admin_keep</allow_active></defaults></action>
  <action id="org.mythos.control.feature-local-ai"><description>Install Local AI capability</description><message>Authentication is required to install this capability</message><defaults><allow_any>no</allow_any><allow_inactive>auth_admin</allow_inactive><allow_active>auth_admin_keep</allow_active></defaults></action>
  <action id="org.mythos.control.feature-backup-plus"><description>Install Advanced Backups capability</description><message>Authentication is required to install this capability</message><defaults><allow_any>no</allow_any><allow_inactive>auth_admin</allow_inactive><allow_active>auth_admin_keep</allow_active></defaults></action>
  <action id="org.mythos.control.feature-developer"><description>Install Developer capability</description><message>Authentication is required to install this capability</message><defaults><allow_any>no</allow_any><allow_inactive>auth_admin</allow_inactive><allow_active>auth_admin_keep</allow_active></defaults></action>
  <action id="org.mythos.control.feature-virtualization"><description>Install Virtualization capability</description><message>Authentication is required to install this capability</message><defaults><allow_any>no</allow_any><allow_inactive>auth_admin</allow_inactive><allow_active>auth_admin_keep</allow_active></defaults></action>
  <action id="org.mythos.control.feature-native-packages"><description>Install Native Packages capability</description><message>Authentication is required to install this capability</message><defaults><allow_any>no</allow_any><allow_inactive>auth_admin</allow_inactive><allow_active>auth_admin_keep</allow_active></defaults></action>
  <action id="org.mythos.control.feature-snap"><description>Install Snap capability</description><message>Authentication is required to install this capability</message><defaults><allow_any>no</allow_any><allow_inactive>auth_admin</allow_inactive><allow_active>auth_admin_keep</allow_active></defaults></action>
</policyconfig>
